@import "tailwindcss";

@theme inline {
  --color-dark-green: #3a4e48;
  --color-light-green: #cdd9c5;
  --color-burnt-orange: #bc7f6a;
  --color-background: #fbfbf6;
  --color-image-background: #f1f0eb;
  --color-headlines: #3a3836;
  --color-copy: #6d6966;
  --color-borders: #e1dbd4;

  --font-serif: var(--font-libre-baskerville);
  --font-sans: var(--font-plus-jakarta-sans);
}

body {
  background-color: #fbfbf6;
  color: #6d6966;
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}
